$main-color: #3F3F3D;
$bg-color: #FFF;
$primary-font: "Montserrat", sans-serif;
$thick-font: 700;
$reg-font: 500;
$thin-font: 300;
$upcase: uppercase;
$sec-margin-top: 50px;
$text-font: "Open Sans", sans-serif;
$text-weight: 300;

@mixin respond-to($breakpoint) {
    @if $breakpoint ==small {
        @media (max-width: 400px) {
            @content;
        }
    }

    @else if $breakpoint ==medium {
        @media (max-width: 650px) {
            @content;
        }
    }

    @else if $breakpoint ==large {
        @media (max-width: 1024px) {
            @content;
        }
    }
}

#contact {
    display: flex;
    width: 100vw;

    @include respond-to(medium) {
        flex-direction: column;
    }


    #contactImage {
        background-image: url(../img/contact.JPEG);
        background-size: cover;
        background-position: center;
        height: 720px;
        width: 50vw;
        content: '';

        @include respond-to(medium) {
            width: 100vw;
            height: 30vh;
            background-position: 50% 25%;
        }
    }

    aside {
        width: 40vw;
        height: auto;
        padding: $sec-margin-top 0 0 80px;

        @include respond-to(medium) {
            width: 100vw;
            height: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: $sec-margin-top 0 0 0;
        }

        .secTitle {
            text-transform: $upcase;
            font-weight: $thick-font;
            font-size: 1.7em;
            margin-bottom: 10px;
            text-align: left;
        }

        h5 {
            margin: 10px 0 30px;
        }

        .formNames {
            display: flex;
        }

        legend {
            margin-bottom: 5px;
        }

        #firstname {
            margin-right: 1vw;
            width: 14.5vw;

            @include respond-to(medium) {
                width: 39.5vw;
            }

        }

        #lastname {
            width: 14.5vw;

            @include respond-to(medium) {
                width: 39.5vw;
            }
        }



        form {
            font-size: 0.9em;
            width: 30vw;

            .input {
                margin-bottom: 15px;
                border: none;
                border-bottom: $main-color 0.5px solid;
                background-color: none;
                width: 100%;
                height: 30px;
                background-color: transparent;


            }

            .form {
                @include respond-to(medium) {
                    width: 100%;
                }
            }

            @include respond-to(medium) {
                width: 80vw;
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        }

        #message {
            height: 70px;
        }

        #submit {
            @include respond-to(medium) {
                text-align: center;
            }
        }

        #submitBtn {
            margin: 25px 0;
            border: $main-color 1px solid;
            color: $main-color;
            font-size: 0.9em;
            font-weight: 600;
            border-radius: 50px;
            padding: 10px 50px;
            background-color: $bg-color;
            transition: background-color 0.2s, color 0.2s ease;
            text-transform: $upcase;
        }

        #submitBtn:hover {
            background-color: $main-color;
            color: $bg-color;
        }

        p {
            font-size: 0.9em;

            @include respond-to(medium) {
                text-align: center;
            }
        }

        .g-recaptcha {
            margin-top: 20px;
            width: 304px;
        }

        form p:last-child {
            margin-top: 10px;
        }
    }

    #confirm-back {
        background-color: #3f3f3da4;
        position: absolute;
        width: 100%;
        height: 100vh;
        display: none;
        justify-content: center;
        padding-top: 200px;

        @include respond-to(medium) {
            padding-top: 100px;
        }

        #confirmation {
            width: 600px;
            height: 370px;
            display: flex;
            background-color: $bg-color;
            position: absolute;
            text-align: center;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            z-index: 102;
            transition: all 0.5s ease;

            @include respond-to(medium) {
                width: 80vw;
                height: 45vh;
            }

            #check-mark {
                font-size: 80px;
                margin-bottom: 20px;
            }

            h3 {
                font-weight: $thick-font;
                font-size: 1.7em;
                margin-bottom: 30px;
            }

            p {
                line-height: 1.3;
                margin-bottom: 30px;
            }

            #confirmationClose {
                border: $main-color 1px solid;
                color: $main-color;
                font-size: 0.8em;
                font-weight: 600;
                border-radius: 50px;
                padding: 10px 50px;
                background-color: $bg-color;
                transition: background-color 0.2s, color 0.2s ease;
                text-transform: $upcase;
            }

            #confirmationClose:hover {
                background-color: $main-color;
                color: $bg-color;
            }
        }
    }
}